<!DOCTYPE html>
<html>
  <head>
    <title>Ullibol</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="ulli">
      <h1>Ullibol</h1>
      <p>This is the Ullibol API</p>
    </div>
  </body>
</html>
