@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: #272A2F;
}

.ulli {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ulli h1 {
  font-size: 50px;
  color: #0270FF;
}
